@font-face {
  font-family: "iconfont"; /* Project id 4859595 */
  src: url('//at.alicdn.com/t/c/font_4859595_oyerz3izi29.woff2?t=1761793702381') format('woff2'),
       url('//at.alicdn.com/t/c/font_4859595_oyerz3izi29.woff?t=1761793702381') format('woff'),
       url('//at.alicdn.com/t/c/font_4859595_oyerz3izi29.ttf?t=1761793702381') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daxiaoxiezhuanhuan:before {
  content: "\e6a5";
}

.icon-object-group-regular:before {
  content: "\e6f3";
}

.icon-registered-regular:before {
  content: "\e716";
}

.icon-star-of-david-solid:before {
  content: "\e73f";
}

.icon-dashed-underline:before {
  content: "\e606";
}

.icon-dot-underline:before {
  content: "\e607";
}

.icon-wavy-underline:before {
  content: "\e605";
}

.icon-double-underline1:before {
  content: "\e602";
}

.icon-underline-solid:before {
  content: "\e761";
}

.icon-scissors-solid:before {
  content: "\e723";
}

.icon-brands-buffer:before {
  content: "\e618";
}

.icon-trash-can-regular:before {
  content: "\e759";
}

.icon-rotate-left-solid:before {
  content: "\e71c";
}

.icon-rotate-right-solid:before {
  content: "\e71d";
}

.icon-minus-solid:before {
  content: "\e6e9";
}

.icon-bold-solid:before {
  content: "\e60e";
}

.icon-face-smile-regular:before {
  content: "\e695";
}

.icon-paper-plane-regular:before {
  content: "\e6f7";
}

.icon-t-solid:before {
  content: "\e745";
}

.icon-jietu:before {
  content: "\e610";
}

.icon-grip-lines-solid:before {
  content: "\e6ae";
}

.icon-tty-solid:before {
  content: "\e75e";
}

.icon-brands-opencart:before {
  content: "\e633";
}

.icon-chart-simple-solid:before {
  content: "\e661";
}

.icon-mill-sign-solid:before {
  content: "\e6e8";
}

.icon-water-solid:before {
  content: "\e775";
}

.icon-border-all-solid:before {
  content: "\e611";
}

.icon-brands-itunes-note:before {
  content: "\e62a";
}

.icon-images-regular:before {
  content: "\e6ce";
}

.icon-infinity-solid:before {
  content: "\e6d0";
}

.icon-section-solid:before {
  content: "\e724";
}

.icon-a-solid:before {
  content: "\e604";
}

.icon-back:before {
  content: "\e600";
}

.icon-align-left-solid:before {
  content: "\e603";
}

.icon-circle-nodes-solid:before {
  content: "\e669";
}

.icon-square-root-variable-solid:before {
  content: "\e73b";
}

.icon-icon-menu-expand:before {
  content: "\e697";
}

.icon-icon-menu-fold:before {
  content: "\e698";
}

.icon-language:before {
  content: "\e619";
}

.icon-Gc_20_public-MenuUnfoldOutlined:before {
  content: "\e61c";
}

.icon-Gc_19_public-MenuFoldOutlined:before {
  content: "\e61b";
}
